
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
 
body{
	background-image: url(img/back.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
	
	max-width: 100%;
	height: 50%;
	display: block;
	margin: 0 auto;
  }

  .centered-image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: 300px;
	width: 400px;
  }
  
  
header{
	text-align: center;
	background: #000;
	color: #fff;
	padding: 10px 0;
}
.container{
	max-width: 700px;
	margin: auto;
	padding: 20px;
}
section{
	border: 3px solid rgb(20, 220, 87);
	border-radius: 7px;
	padding: 10px;
	margin: 10px 0;

}
label{
	display: block;
	padding: 7px;
	border-radius: 7px;
	cursor: pointer;
	border: 1px dashed #ccc;
	margin-bottom: 3px;
}
label:hover{
	background: rgb(20, 220, 110);
}
button{
	width: 80%;
	display: block;
	margin: auto;
	padding: 10px;
	background-color: #76d7c8;
	border: none;
	cursor: pointer;
	border-radius: 20px;
}
button:hover{
	background: #000;
	color: #fff;

}
h2{
	text-align: center;

}
#resultado{
	font-size: 30px;
	color: darkred;
}